<article id="<%= dom_id(comment) %>" class="comment">
  <header class="comment__header">
    <strong><%= comment.user&.name || comment.author_name %></strong>
    <span class="text-muted"><%= l(comment.created_at, format: :short) %></span>
  </header>
  <div class="comment__body">
    <%= simple_format(comment.body) %>
  </div>
</article>
